RebirthTracker/RebirthTracker/obj/project.nuget.cache
RebirthTracker/RebirthTracker/obj/project.assets.json
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.pdb
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.genruntimeconfig.cache
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.exe
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.dll
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.csprojAssemblyReference.cache
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.csproj.FileListAbsolute.txt
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.csproj.CoreCompileInputs.cache
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.csproj.CopyComplete
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.assets.cache
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.AssemblyInfoInputs.cache
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/RebirthTracker.AssemblyInfo.cs
RebirthTracker/RebirthTracker/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RebirthTracker/RebirthTracker/obj/RebirthTracker.csproj.nuget.g.targets
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
RebirthTracker/.vs/RebirthTracker/v16/.suo
RebirthTracker/.vs/RebirthTracker/DesignTimeBuild/.dtbcache.v2
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/games.sqlite
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/System.Text.Json.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/RebirthTracker.runtimeconfig.json
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/RebirthTracker.runtimeconfig.dev.json
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/RebirthTracker.pdb
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/RebirthTracker.exe
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/RebirthTracker.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/RebirthTracker.deps.json
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/games.sqlite
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/System.Text.Json.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/System.Collections.Immutable.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/SQLitePCLRaw.core.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/RebirthTracker.runtimeconfig.json
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/RebirthTracker.runtimeconfig.dev.json
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/RebirthTracker.pdb
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/RebirthTracker.exe
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/RebirthTracker.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/RebirthTracker.deps.json
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Data.Sqlite.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.pdb
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.genruntimeconfig.cache
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.exe
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.dll
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.csprojAssemblyReference.cache
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.csproj.FileListAbsolute.txt
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.csproj.CoreCompileInputs.cache
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.csproj.CopyComplete
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.assets.cache
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.AssemblyInfoInputs.cache
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/RebirthTracker.AssemblyInfo.cs
RebirthTracker/RebirthTracker/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.Options.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.Logging.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
RebirthTracker/RebirthTracker/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
RebirthTracker/RebirthTracker/obj/RebirthTracker.csproj.nuget.g.props
RebirthTracker/RebirthTracker/obj/RebirthTracker.csproj.nuget.dgspec.json
RebirthTracker/RebirthTracker/bin/Release/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
games.sqlite
server.pid
