@font-face {
    font-family: Logo;
    src: url('fonts/logo.woff2') format('woff2'),
         url('fonts/logo.woff') format('woff');
    font-weight: 700;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Score;
    src: url('fonts/score.woff2') format('woff2'),
         url('fonts/score.woff2') format('woff');
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
}

html {
    background: url("background.jpg") no-repeat fixed center center;
    background-size: cover;
}

body {
    font-family: Score, sans-serif;
    color: #bcbcbc;
}

#wrapper {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: Logo, sans-serif;
    color: #ff0000;
    font-size: 50px;
}

table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 25px;
    border-collapse: collapse;
}

.version {
    width: 12%;
}

.name {
    width: 13%;
}

.mission {
    width: 20%;
}

.players {
    width: 12%;
}

.mode {
    width: 13%;
}

.status {
    width: 10%;
}

.host {
    width: 15%;
}


table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.59);
    cursor: pointer;
}

table td,
table th {
    text-align: left;
}

table th {
    font-size: 18px;
    font-family: Logo, sans-serif;
    color: #ffba00;
    padding: 10px 10px;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px;
}

/*table tr:nth-child(odd) {
    background: lightblue;
}*/

.up {
    color: green;
}

.down {
    color: red;
}