@font-face {
    font-family: Logo;
    src: url('fonts/logo.woff2') format('woff2'),
         url('fonts/logo.woff') format('woff');
    font-weight: 700;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Score;
    src: url('fonts/score.woff2') format('woff2'),
         url('fonts/score.woff2') format('woff');
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Score, sans-serif;
}

#wrapper {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: Logo, sans-serif;
}

table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 25px;
}

.version {
    width: 15%;
}

.name {
    width: 25%;
}

.mission {
    width: 20%;
}

.players {
    width: 10%;
}

.mode {
    width: 10%;
}

.status {
    width: 10%;
}

.host {
    width: 10%;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th {
    background: darkblue;
    color: white;
}

table td,
table th {
    text-align: left;
    padding: 5px 10px;
}

table tr:nth-child(even) {
    background: lightblue;
}

.up {
    color: green;
}

.down {
    color: red;
}